<!--<div class="container">
  <router-outlet></router-outlet>
</div> -->

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='../css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />

<layout-header *showAuthed="true"></layout-header>
<div class="layout-main"  [class.single]="isSingle">
      <aside class="sidebar-left" *showAuthed="true">
        <nav class="navbar navbar-inverse">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
          </div>
          <div class="layout-sidebar">
            <div class="layout-sidebar-backdrop"></div>
            <div class="layout-sidebar-body">
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="sidebar-menu">
                  <li class="header">MAIN NAVIGATION</li>
                  <li class="treeview">
                    <a href="#">
                      <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                      <li><a href="#"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                      <li><a href="#"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                    </ul>
                  </li>

                  <li class="treeview">
                    <a href="#">
                      <i class="fa fa-files-o"></i>
                      <span>Layout Options</span>
                      <span class="label label-primary pull-right">4</span>
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                      <li><a href="#"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
                      <li><a href="#"><i class="fa fa-circle-o"></i> Boxed</a></li>
                      <li><a href="#"><i class="fa fa-circle-o"></i> Fixed</a></li>
                      <li class=""><a href="#"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a>
                      </li>
                    </ul>
                  </li>

                  <li class="treeview" *ngFor="let key of menu_title" >
                    <a href="#">
                      <i class="fa fa-files-o"></i>
                      <span>{{key}}</span>
                      <span class="label label-primary pull-right">4</span>
                    </a>
                    <ul class="treeview-menu" style="display: none;"  >
                      <li *ngFor="let item of menu[key]">
                        <a routerLink={{item.link}}><i class="fa fa-circle-o"></i>{{item.menuid}}</a>
                      </li>
                    </ul>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </nav>
      </aside>
      <div class="layout-content">
        <div class="layout-content-body">
          <router-outlet></router-outlet>
        </div>
       <!-- <div class='content container-fluid' style="background-color:#fafafa;">
          <router-outlet></router-outlet>
        </div>-->
      </div>
</div>
<!--<aside class="sidebar-left">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="sidebar-menu">
          <li class="header">MAIN NAVIGATION</li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="#"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
              <li><a href="#"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-files-o"></i>
              <span>Layout Options</span>
              <span class="label label-primary pull-right">4</span>
            </a>
            <ul class="treeview-menu" style="display: none;">
              <li><a href="#"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
              <li><a href="#"><i class="fa fa-circle-o"></i> Boxed</a></li>
              <li><a href="#"><i class="fa fa-circle-o"></i> Fixed</a></li>
              <li class=""><a href="#"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a>
              </li>
            </ul>
          </li>

          <li class="treeview" *ngFor="let key of menu_title" >
            <a href="#">
              <i class="fa fa-files-o"></i>
              <span>{{key}}</span>
              <span class="label label-primary pull-right">4</span>
            </a>
            <ul class="treeview-menu" style="display: none;"  >
              <li *ngFor="let item of menu[key]">
                <a routerLink={{item.link}}><i class="fa fa-circle-o"></i>{{item.menuid}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      &lt;!&ndash; /.navbar-collapse &ndash;&gt;
    </div>
    &lt;!&ndash; /.container-fluid &ndash;&gt;
  </nav>
</aside>-->




